.footer {
  width: 100%;
  height: 3em;
  background-color: #ffc727;
  position: absolute;
  bottom: 0;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.footer li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
}
.footer li p {
  margin: 0 5px;
  font-size: 2em;
}
