.page {
  padding: 5% 5%;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
}

.profil-text {
  width: 100%;
}
.profil-text p {
  width: 40%;
}

.profil-text h1 {
  font-family: "Quicksand";
  text-transform: uppercase;
  width: 20%;
  color: #a37d12;
}

h2 {
  font-family: "Quicksand";
  padding: 15px 0;
  color: #a37d12;
  text-transform: uppercase;
}
.profil img {
  width: 35%;
}

.about {
  text-align: center;
  margin: 0 20%;
  background-color: #ebebeb;
  padding: 2%;
  border-radius: 7px;
}

.section-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-logo {
  width: 8%;
}

.Card {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  padding: 2em;
  border-radius: 7px;
}

.Card img {
  width: 90%;
}

.allCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(10px, auto);
  justify-items: center;
  width: 80%;
  margin: 0 10%;
}
/* Contact */
.mail,
.text {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.contact {
  display: flex;
  width: 50%;
  margin: 0 25%;
  align-items: center;
}

.contact-image {
  /* width: 20%; */
}
