.page {
  padding: 5% 5%;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
}

.profil-text {
  width: 100%;
}
.profil-text p {
  width: 40%;
}

.profil-text h1 {
  font-family: "Quicksand";
  text-transform: uppercase;
  width: 20%;
  color: #a37d12;
}

h2 {
  font-family: "Quicksand";
  padding: 15px 0;
  color: #a37d12;
  text-transform: uppercase;
}
.profil img {
  width: 35%;
}

.about {
  text-align: center;
  margin: 0 20%;
  background-color: #ebebeb;
  padding: 2%;
  border-radius: 7px;
}

.section-logo-titre {
  width: 100%;
}
.section-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.image-logo {
  width: 8%;
}

.Card {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  padding: 2em;
  border-radius: 7px;
  height: 200px;
  width: 70%;
}
.Card-info {
  background-color: #a37d12;
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 100%;
  background-color: rgba(42, 41, 41, 0.8);
  z-index: 1;
  padding: 0 4%;
  color: white;
  border-radius: 7px;
}

.Card-info h3,
.Card-info h2 {
  font-family: "Quicksand";
  font-size: x-large;
  padding: 0;
}
.Card-info p {
  font-style: italic;
  font-size: large;
  padding: 0;
}

.Card img {
  width: 70%;
  object-fit: contain;
  position: absolute;
  height: 70%;
  z-index: 0;
}

.allCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2%;
  width: 100%;
}

.grille {
  width: 100%;
}
.Card:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .profil {
    align-items: flex-start;
  }
  .profil-text p {
    width: 95%;
  }
  .profil img {
    width: 43%;
  }
  .allCard {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .Card {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profil {
    align-items: flex-start;
  }
  .profil-text p {
    width: 95%;
  }
  .profil img {
    width: 43%;
  }
  .allCard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .Card {
    width: 85%;
  }
}
