.description {
  display: flex;
  padding: 5%;
}

.description img {
  width: 30%;
}

.btn {
  background-color: white;
  padding: 1em;
  color: #a37d12;
  border-radius: 7px;
  border: solid #ffc727;
  margin-right: 3%;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc727;
  color: white;
}

.section-button {
  margin-top: 3%;
}

@media (max-width: 767px) {
  .description {
    flex-direction: column-reverse;
  }
}
